html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('../Image/TOO_restaurant_Panoramique_vue_Paris_Seine_Tour_Eiffel_2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#containerfoods {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}
