html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('../Image/TOO_restaurant_Panoramique_vue_Paris_Seine_Tour_Eiffel_2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#containerPrivacy {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerfoods {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}
#containerfoodcreate {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerfooddetails {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerfoodedit {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerfooddelete {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}



#containerdrinks {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerdrinkcreate {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerdrinkedit {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerdrinkdetails {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerdrinkdelete {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerrestaurantsindex {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}




#containerrestaurantsCreate {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerrestaurantsDelete{
     background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerrestaurantsEdit {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

#containerrestaurantsDetails {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}

