@{
    ViewData["Title"] = "Privacy Policy";
}
<div id=containerPrivacy 
<h1>Privacy Policy</h1>

<p>The main reason for collecting and using your personal data is to fulfill our contract with you (ie to be able to provide you with the service you want; to respond to your enquiry, etc.).

We will also use your personal data when this is in fulfillment of our legitimate business interests, but only when these interests are not overridden by your interests in connection with the protection of your personal data or your other rights and freedoms.

In some cases we may have a legal obligation – a legal basis to collect personal data from you (e.g. in the event of legal proceedings) or we may need to process it or share it with other people to “protect your vital interests” saving one's life) or those of another person (eg in a case where another person's life is in danger).

If we ask you to provide personal data in order to comply with a legal requirement or enter into a contract with you, we will notify you of the circumstances at the appropriate time and let you know whether or not the provision of personal data is mandatory (and also explain the possible consequences of refusal to provide personal data).

Also, if we collect and use your personal data relying on our legitimate interests (or those of a third party), we will inform you at the relevant time what those legitimate interests are.

If you have any questions or need further information about the legal basis on which we collect and use your personal data, please contact us using the contact details set out in "How to contact us?" above.

Happy  also collects personal data after receiving express, clear, free and unequivocal consent from you for the purposes of processing.

For example for marketing purposes to receive our latest promotions and updated menus, new dishes and delivery services for example and any other promotional newsletters

Consent to the processing of your personal data is granted when registering on our website or when filling in the various forms placed on our website (for enquiries, for job applications and for subscribing to an advertising newsletter).

The consent you provide can be withdrawn at any time by sending an e-mail to customerservice@happy.bg or a written application to the address of HEPI in the city of Varna, Odessos district, 25 Tsar Osvoboditel Blvd.

How do we receive your personal data? How do we process your personal data?

In order to provide its services, Happy processes (collects) the personal data provided by you, regarding your physical identity, in the following ways:

- by filling in the "e-mail newsletter" form provided to you in the lower left corner of the www.happy.bg web page. The forms are filled in on our website by providing your personal data in the available positions;

– by visiting www.happy.bg to use the services on our website;

– when updating data at your request and filling out an update form on paper or in an electronic environment;

– by using online identifiers to collect information about IP addresses, data from cookies (cookies), operating system and browser type;</p>
</div>