@model Happy.Models.Foods

@{
    ViewData["Title"] = "Create";
}
<div id="containerfoodcreate">
<h1>Create</h1>

<h4>Foods</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MenuName" class="control-label"></label>
                <input asp-for="MenuName" class="form-control" />
                <span asp-validation-for="MenuName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ingredients" class="control-label"></label>
                <input asp-for="ingredients" class="form-control" />
                <span asp-validation-for="ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grams" class="control-label"></label>
                <input asp-for="Grams" class="form-control" />
                <span asp-validation-for="Grams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
